<include file="public/layout" />
<style>.err{color:#F00; display:none;}</style>
<script src="__ROOT__/public/static/js/layer/laydate/laydate.js"></script>
<body style="background-color: #FFF; overflow: auto;">
  <div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
  <div id="append_parent"></div>
  <div id="ajaxwaitid"></div>
  <div class="page">
    <div class="fixed-bar">
      <div class="item-title">
        <a class="back" href="javascript:history.back();" title="返回列表">
          <i class="fa fa-arrow-circle-o-left"></i>
        </a>
        <div class="subject">
          <h3>顶部导航</h3>
          <h5>添加顶部导航详情页</h5></div>
      </div>
    </div>
    <form class="form-horizontal" id="handleposition" method="post" enctype="multipart/form-data">
      <input type="hidden" id="goods_id" name="goods_id" value="{$info.goods_id}">
      <input type="hidden" name="id" value="{$info.id}">
      <input type="hidden" name="item_id" value="{$info.item_id}">
      <div class="ncap-form-default">
        <dl class="row">
          <dt class="tit">
            <label>
              <em>*</em>导航标题</label></dt>
          <dd class="opt">
            <input type="text" name="title" id="title" value="" class="input-txt">
            <span class="err" id="err_title"></span>
            <p class="notic">写精简点，而且要有吸引力</p></dd>
        </dl>
        <dl class="row">
          <dt class="tit">
            <label>
              <em>*</em>宣传图片</label></dt>
          <dd class="opt">
            <div class="input-file-show">
              <span class="show">
                <a id="img_a" target="_blank" class="nyroModal" rel="gal" href="">
                  <i id="img_i" class="fa fa-picture-o" onmouseover="layer.tips('<img src=>',this,{tips: [1, '#fff']});" onmouseout="layer.closeAll();"></i>
                </a>
              </span>
              <span class="type-file-box">
                <input type="text" id="prom_img" name="prom_img" value="" class="type-file-text">
                <input type="button" name="button" id="button1" value="选择上传..." class="type-file-button">
                <input class="type-file-file" onclick="GetUploadify(1,'','activity','img_call_back')" size="30" hidefocus="true" nc_type="change_site_logo" title="点击前方预览图可查看大图，点击按钮选择文件并提交表单后上传生效"></span>
            </div>
            <span class="err"></span>
            <p class="notic">请上传图片格式文件</p></dd>
        </dl>
        <dl class="row">
          <dt class="tit">
            <label>
              <em>*</em>文字内容</label></dt>
          <dd class="opt">
            <input type="text" id="price" name="price" value="{$info.price}" onpaste="this.value=this.value.replace(/[^\d.]/g,'')" onkeyup="this.value=this.value.replace(/[^\d.]/g,'')" class="input-txt">
            <span class="err" id="err_price"></span>
            <p class="notic">文字介绍内容详情</p></dd>
        </dl>
        <dl class="row">
          <dt class="tit">
            <label>
              <em>*</em>页面连接内容</label></dt>
          <dd class="opt">
            <input type="text" name="goods_num" id="goods_num" value="{$info.goods_num}" onpaste="this.value=this.value.replace(/[^\d.]/g,'')" onkeyup="this.value=this.value.replace(/[^\d.]/g,'')" class="input-txt">
            <span class="err" id="err_goods_num"></span>
            <p class="notic">此抢购活动最多允许抢购的商品数量</p></dd>
        </dl>
        <div class="bot">
          <input type="submit" name="提交">
      </div>
    </form>
  </div>
</body>
</html>